* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
#data-form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

#data-form button {
    margin-top: 10px;
}